*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'poppins',sans-serif;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f1f1f1;
  font-size: 14px;
}

.top-bar span {
  margin-right: 15px;
}

.top-right i {
  margin-left: 10px;
  cursor: pointer;
}

/* Navbar */

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 20px ;
  background: #eef1f3;

  position: sticky;
  top: 0;
  z-index: 999;
}


.logo {
  font-size: 32px;
  font-weight: bold;
}

.green {
  color: #3cb815;
}

.orange {
  color: #f65005;
}

/* Nav Links */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
border-bottom: 2px solid orangered;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Icons */
.nav-icons i {
  margin-left: 15px;
  cursor: pointer;
}

/* Mobile Menu */
.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .top-bar {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    background: #eef1f3;
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .nav-icons {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

.contactus{
    font-weight:600;
    position: relative;
}

.banner{
    display: flex;
    justify-content: space-between;
    background-color: #E1E4EB;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.icons i{
    border:1px solid white;
    border-radius:50%;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    background-color: white;
    margin: 0 3px;
}

.menuicon i{
    border: 1px solid #868789;
    padding: 5px;
    margin: 10px;
}

.menuicon{
    display: none;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

/*side-nav*/
.sidenav{
    background-color: #f9f9f9;
    z-index: 2000;
    top: 0;
    transition:right 0.4s ease;
    width: 50%;
    height: 100vh;
    right: -50%;
    position: fixed;
}

.closebtn{
    font-size: 24px;
    cursor: pointer;
    text-align: right;
    position: relative;
    padding-right: 100px;
    top:50px;
}

.menu-side{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    cursor: pointer;
}
  

/* heading */
.heading{
    background-color: #E1E4EB;
    padding:90px;
    height: 80px;
    overflow: hidden;
}
.contact-bar{
    position: relative;
    bottom: 60px;
}

.contact-bar h1{
    font-size: 70px;
}

.contact-bar-2{
    display: flex;
    gap: 15px;
    display:none;
}

.contact-bar-2 a{
    color:black;
    text-decoration:none;
}

.light-1,
.light-2,
.bold{
    font-size: large;
}

.bold{
    font-weight:bold;
}

.veggies img{
    width: 1000px;
    height: 650px;
    position: relative;
    left: 560px;
    bottom: 150px;
    object-fit: cover;
}

.green-line{
    border-bottom: #3CB815 3px solid;
    position: relative;
    top: 60px;
    margin-left: 730px;
    margin-right: 730px;
}

.red-line{
    border-bottom: #F65005 2px solid;
    position: relative;
    top: 80px;
    margin-left: 720px;
    margin-right: 720px;
}

.contact-title{
    padding: 120px;
    text-align: center;
    font-size: xx-large;
    position: relative;
    bottom: 20px;
}

.contact-title p{
    font-size: large;
}

.contact-green{
    width: 500px;
    height: 500px;
    background-color: #3CB815;
    margin-left: 120px;
}

.contact-form{
    position: relative;
    bottom: 80px;
}

.contact-details{
    color: #f2f2f2;
    font-size: 20px;
    position: relative;
    top: 60px;
}

.contact-details p{
    margin-bottom: 10px;
}

.contact-details i{
    margin-right: 15px;
}

.contact-details-2{
    color: #f2f2f2;
    font-size: 20px;
    position: relative;
    top: 80px;
    
}

.contact-details-2 p{
    margin-bottom: 10px;
}

.contact-details-2 i{
    margin-right: 15px;
}

.contact-details-3{
    color: #f2f2f2;
    font-size: 20px;
    position: relative;
    top: 100px;
}

.contact-details-3 p{
    margin-bottom: 10px;
}

.contact-details-3 i{
    margin-right: 15px;
}

.contact-details-4{
    color: #f2f2f2;
    font-size: 20px;
    position: relative;
    top: 130px;

}

.contact-details-4 p{
    margin-bottom: 10px;
}

.contact-details-4 i{
    border: 1px solid white;
    border-radius: 80%;
    padding: 10px;
    margin-right: 2px;
}

.contact-details,
.contact-details-2,
.contact-details-3,
.contact-details-4{
    margin-left: 50px;
}

.contact-form{
    display: flex;
}

.contact-box{
    width: 500px;
    height: 500px;
    margin-left: 50px

}

.boxes{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.box-1 input{
    width: 340px;
    padding: 20px;
}

.box-2 input{
    width: 340px;
    padding: 20px;
}

.box-3 input{
    width: 733px;
    padding: 20px;
    margin-top: 19px;
}

.box-4 textarea{
    width: 733px;
    height: 160px;
    padding: 20px;
    margin-top: 19px;
}

.box-button button{
    margin-top: 10px;
    padding: 20px;
    background-color: #3CB815;
    border-radius: 40px;
    border: none;
    color: #f2f2f2;
    width: 210px;
    font-size: large;
}

.nameError,
.emailError,
.subjectError,
.messageError{
    color: red;
    font-family: cursive;
    display: none;
}

.map-container{
    width: 1450px;
    height: 400px;
    border-radius: 8px;
    margin-left: 40px
}

/*  */
.footer {
  background: #111;
  color: #bbb;
  padding: 60px 20px 20px;
}

/* Grid */
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

/* Logo */
.logo {
  font-size: 36px;
  margin-bottom: 15px;
}
.logo .orange { color: orange; }
.logo .green { color: #4CAF17; }

/* Headings */
.footer-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

/* Text */
.footer-box p {
  line-height: 1.7;
}

/* Lists */
.footer-box ul {
  list-style: none;
}
.footer-box ul li {
  margin-bottom: 12px;
}
/* Links Hover */
.links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}
.links a:hover {
  color: #4CAF17;
  padding-left: 5px;
}
/* Social Icons */
.social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.social a {
  width: 40px;
  height: 40px;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.social a:hover {
  background: #4CAF17;
  border-color: #4CAF17;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 15px;
}
.newsletter input {
  flex: 1;
  padding: 12px;
  border: 1px solid #444;
  background: transparent;
  color: #fff;
}
.newsletter button {
  background: #4CAF17;
  border: none;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}
.newsletter button:hover {
  background: #3c9c14;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-bottom span {
  color: #4CAF17;
}

/* mobile */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer{
    margin-top: 150px;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    text-align: center;
    gap: 10px;
  }

  .newsletter input {
  flex: 1;
  width: px;
  padding: 12px;
  border: 1px solid #444;
  background: transparent;
  color: #fff;
}
}

@media screen and (max-width:786px){
    html,body{
        width: 100%;
        overflow-x: clip;
    }

    .top-nav{
        display: none;
    }

    .menu{
        display: none;
    }

    .icons{
        display: none;
    }

    .menuicon{
        display: block;
    }

    .banner{
        height: 60px;
    }
    
    .title{
        display: block;
        display: flex;
    }

    .heading{
        overflow: visible;
        height: 110px;
    }

    .veggies img{
        width: 130%;
        display: block;
        height: 300px;
        position: static;
    }

    .veggies{
        position: relative;
        bottom: 130px;
        left: 20px;
    }

    .contact-bar h1{
        font-size:50px;
        position: relative;
        right: 70px;
        z-index: 10;
        
    }

    .contact-bar-2 a{
        position: relative;
        right: 70px;
        z-index: 10;
        cursor: pointer;
        color: black;
        text-decoration: none;
    }

    .contact-bar-2{
        display: block;
    }

    .contact-form{
        flex-direction: column;
        gap: 30px;
    }

    .contact-green p{
        font-size: 20px;
    }

    .contact-green{
        position: relative;
        right: 110px;
        width: 95%;
    }

    .contact-title h1{
        font-size: xx-large;
    }

    .boxes{
        display: flex;
        flex-direction: column;
    }

    .box-1 input,
    .box-2 input{
        width: 90%;
    }

    .box-3 input{
        width: 90%;
    }

    .box-4 textarea{
        width: 90%;
    }

    .contact-box {
        position: relative;
        right: 40px;
    }

    .contact-box p{
        font-size: 20px;
    }

    .green-line{
        border-bottom: #3CB815 3px solid;
        position: relative;
        width: 15%;
        right: 522px;
    }

    .red-line{
        border-bottom: #F65005 2px solid;
        position: relative;
        width: 25%;
        right: 536px;
    }

    .map-container{
        height: 300px;
        width: 95%;
        position: relative;
        right: 30px;
        top: 140px;
    }

    .footer-container-parent{
        position: relative;
        top: 150px;
        height: 1280px;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .copyright{
        margin-left: 0;
        padding: 10px;
    }
}
